* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 252, 252);
}


.all-screen {
  display: flex;
}

.sidebar {
  width: 20%;
  padding: 20px;
  border-right: 1px solid rgb(161, 157, 157);
}

.search {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0px 0px 15px 0px;
  padding: 10px 10px 10px 15px;
  width: 100%;
  border-radius: 8px;
  border-width: 1px;
  cursor: pointer;
}

ul {
  list-style-type: none;

}


.contact {
  display: flex;
  gap: 10px;
  padding: 15px;

}

.image-contact {
  width: 50px;
  height: 50px;
  border-radius: 60px;
}


.contact-information {
  display: flex;
  flex-direction: column;
}

.status {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
}

.offline::before {
  content: "•";
  color: red;
  padding-right: 5px;
}

.online::before {
  content: "•";
  color: rgb(32, 207, 9);
  padding-right: 5px;
}

.contact-list :hover {
  background-color: #efefef;
  border-radius: 10px;
}