* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 252, 252);
}


.all-screen {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 20%;
  padding: 20px;
  border-right: 1px solid rgb(161, 157, 157);
  display: flex;
  flex-direction: column;
}

.search {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border-width: 1px;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.contact {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.image-contact {
  width: 50px;
  height: 50px;
  border-radius: 60px;
}

.contact-information {
  display: flex;
  flex-direction: column;
}

.status-offline {
  display: inline-block;
  font-size: 14px;
  color: gray;
}

.status-offline::before {
  content: "•";
  color: red;
  margin-right: 5px;
}

.status-online {
  font-size: 14px;
  color: gray;
}

.status-online::before {
  content: "•";
  color: rgb(37, 185, 57);
  margin-right: 5px
}

.contact-list :hover {
  background-color: #efefef;
  border-radius: 10px;
}

/*main */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 252, 252);
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(161, 157, 157);
  padding: 20px;
}

.chat-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

button {
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}

.message-sent {
  align-self: flex-end;
  background-color: #e4f2f7;
  padding: 12px;
  border-radius: 10px;
}

.received-message {
  align-self: flex-start;
  background-color: #ededed;
  padding: 12px;
  border-radius: 10px;
}

.message {
  font-size: 16px;
}

.time {
  font-size: 14px;
  color: gray;
}